[submodule "frame_buf_alt"]
	path = frame_buf_alt
	url = git@github.com:csus-senior-design/frame_buf_alt.git
[submodule "ram_int_4p"]
	path = ram_int_4p
	url = git@github.com:csus-senior-design/ram_int_4p.git
