*.bak
*.out
*.vcd

db/
incremental_db/
simulation/
c5_pin_model_dump.txt
greybox_tmp

*.ddb
*.done
*.jdi
*.pof
*.qws
*.rpt
*.smsg
*.sof
*.summary
*.qprs
LPDDR2x32_4p_p0_summary.csv
cr_ie_info.json
output_files
POF.cdf
*.pin
*.sld
quartus_project/PLLJ_PLLSPE_INFO.txt
*.dpf